/* TYPOGRAPHY */
/* ___________________________________ */

/* Libre Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: "LibreBaskerville",
sans-serif; */

/* VARIABLES */
/* ___________________________________ */

:root {
    /* farver */
    --whiteWarm: #FAF9F7;
    --charcoalBlack: #2B2B2B;
    --mallardBlue: #264653;
    --elegantBurgundyRed: #7B2C2C;
    --warmMustardYellow: #E9C46A;
    --earthyTerracotta: #F4A261;
    --oliveGreenHerbal: #8D8741;
    --NeutralGrey: #DAD7CD;
    
    /* skrift størrelser */
    --fs_h1_desktop: 3.25rem;
    --fs_h2_desktop: 2.5rem;
    --fs_h3_desktop: 1.5rem;
    --p_desktop: 1.375rem;
    --card_button_text_desktop: 1.25rem;

    /* font tykkelse */
    --fs_bold: 700;
    --fs_semibold: 600;
    --fs_medium: 500;
    --fs_regular: 400;

    /* spacere */
    --sektion_spacer_desktop: 6.25rem;
    --text_spacer_desktop: 1.875rem;
    --margin_desktop: 15.625rem;
    --gap: 1.875rem;

    /* border radius */
    --border_radius_cards: 5px;
    --border_radius_buttons: 10px;
}

/* GENERAL STYLING */
/* ___________________________________________________________________________________________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", sans-serif;
    margin-bottom: var(--text_spacer_desktop);
    color: var(--font);
}

p,
a {
    font-family: "helvetica", sans-serif;
    font-weight: var(--fs_medium);
    line-height: 150%;
    color: var(--font);
}

p {
    margin-bottom: var(--text_spacer_desktop);
    font-size: var(--p_desktop);
}

h1 {
    margin-block: 50px var(--sektion_spacer_desktop);
    font-size: var(--fs_h1_desktop);
}

h2 {
    font-size: var(--fs_h2_desktop);
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--whiteWarm);
}


/* Navigation Styling */

nav {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--elegantBurgundyRed);
}

.logo img {
    width: 184px;
    height: 33px;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li {
    list-style-type: none;
    color: white;
}

.menu li a{
    text-decoration: none;
        font-family: Helvetica, Arial, sans-serif;
            font-weight: var(--fs_bold);
            font-size: var(--fs_h3_desktop);
}




































































































/* Landing Page Styles her */

.Featured-Content {
    height: 700px;
    width: 100%;

}

.Featured-Content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Featured-Card {
    width: 320px;
    border-radius: 12px;
    background-color: white;
    position: relative;
    top: -250px;
    left: 120px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.Featured-Card h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
}

.Featured-Card p {
    font-size: 14px;
    margin: 8px 0 16px;
}

.Featured-Card a {
    width: 155px;
    padding: 8px 8px;
    background-color: var(--earthyTerracotta);
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: var(--whiteWarm);
    align-self: flex-end;
}


.Recipes {
    padding: 0 120px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
    gap: 30px;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
}

.card p {
    margin: 10px 0 8px;
    font-size: 18px;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.author p {
    font-size: 14px;
}

.allrecipes {
    margin-top: 30px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--earthyTerracotta);
    text-decoration: none;
    color: white;
    align-self: flex-end;
    font-weight: 700;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.split {
    
    display: flex;
    padding: 0;
    
    height: 500px;
    align-items: stretch;
    margin: 50px 0;
}

.leftcard {
    width: 50%;
    height: 100%;
}

.leftcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftcard .leftcard-box {
    background-color: var(--whiteWarm);
    border-radius: 12px;
    position: relative;
    top:-160px;
    left:90px;
    width: 240px;
    padding: 12px 12px;
    font-size: 16px;
}

.rightcard {
    width: 50%;
}

.rightcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightcard .rightcard-box {
        background-color: var(--whiteWarm);
            border-radius: 12px;
            position: relative;
            top: -160px;
            left: 90px;
            width: 240px;
            padding: 12px 12px;
            font-size: 16px;
}

.leftcard, .rightcard {
    border: 2px solid var(--charcoalBlack);
}

.FoodStories {
    margin: 0 120px;
    display: flex;
    flex-direction: column;
}

.COTD {
    background-color: var(--mallardBlue);
    margin: 50px 0;
    padding: 20px;
}

.COTD h3 {
    color: var(--whiteWarm);
    font-size: var(--fs_h3_desktop);
    margin-left: 120px;
}

.COTDwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 0 120px;
}

.ChefCard {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--charcoalBlack);
    background-color: var(--whiteWarm);
    border-radius: 12px;
    
}

.ChefCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ChefCard .ChefName {
    font-size: 20px;
    margin: 5px 0;
}

.ChefCard .ChefLevel {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.SoMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
}

.SoMe img {
    width: 40px;
    height: 40px;
    align-self: center;
}

.TAAwrapper {
    margin: 50px 0;
    padding: 40px 120px;
    background-color: var(--oliveGreenHerbal);
    width: 100%;
}

.videogrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.videoitem {
    padding-left: 10px;
}

.videothumb {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.videoitem p {
    margin-top: 10px;
    font-size: 20px;
    color: var(--whiteWarm);
}

.spacer {
    height: 200px;
}

























































































/* Chef Profile Page Styles her */



































































































/* Food Story Page Styles her */



































































































/* Footer Styles her */



































































































